In [4]:
from pyspark.sql import SparkSession

# PySpark H.W Session 1

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

#### Start a simple Spark Session

In [5]:
spark = SparkSession.builder.getOrCreate()

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [190]:

df_data = spark.read.option("header",True).csv("walmart_stock.csv")

In [29]:
df_data.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

#### What are the column names?

In [30]:
df_data.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like?

In [31]:
df_data.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 columns.

In [38]:
df_data.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [42]:
df_data.head(5)

[Row(Date='2012-01-03', Open='59.970001', High='61.060001', Low='59.869999', Close='60.330002', Volume='12668800', Adj Close='52.619234999999996'),
 Row(Date='2012-01-04', Open='60.209998999999996', High='60.349998', Low='59.470001', Close='59.709998999999996', Volume='9593300', Adj Close='52.078475'),
 Row(Date='2012-01-05', Open='59.349998', High='59.619999', Low='58.369999', Close='59.419998', Volume='12768200', Adj Close='51.825539'),
 Row(Date='2012-01-06', Open='59.419998', High='59.450001', Low='58.869999', Close='59.0', Volume='8069400', Adj Close='51.45922'),
 Row(Date='2012-01-09', Open='59.029999', High='59.549999', Low='58.919998', Close='59.18', Volume='6679300', Adj Close='51.616215000000004')]

Row(Date=datetime.datetime(2012, 1, 3, 0, 0), Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996)


Row(Date=datetime.datetime(2012, 1, 4, 0, 0), Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475)


Row(Date=datetime.datetime(2012, 1, 5, 0, 0), Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539)


Row(Date=datetime.datetime(2012, 1, 6, 0, 0), Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922)


Row(Date=datetime.datetime(2012, 1, 9, 0, 0), Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)

#### Use describe() to learn about the DataFrame.

In [44]:
df_data.describe().show()

+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|      Date|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|      1258|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean|      null| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|      null|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|2012-01-03|56.389998999999996|        57.060001|        56.299999|        56.419998|         10010500|        50.363689|
|    max|2016-12-30|         90.800003|        90.970001|            89.25|        90.470001|          9994400|84.91421600000001|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

## Bonus Question!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

If you get stuck on this, don't worry, just view the solutions.

In [67]:
from pyspark.sql.functions import col,format_number

In [120]:
import pyspark.sql.functions as f

In [68]:
df_describe = df_data.describe()

In [69]:
df_describe.printSchema()

root
 |-- summary: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [94]:
df_data.select().show()

+-------------------------------------+
|format_number(CAST(Open AS FLOAT), 1)|
+-------------------------------------+
|                                 60.0|
|                                 60.2|
|                                 59.3|
|                                 59.4|
|                                 59.0|
|                                 59.4|
|                                 59.1|
|                                 59.8|
|                                 59.2|
|                                 59.9|
|                                 59.8|
|                                 59.9|
|                                 60.8|
|                                 60.8|
|                                 60.8|
|                                 61.2|
|                                 61.8|
|                                 60.9|
|                                 60.5|
|                                 61.5|
+-------------------------------------+
only showing top 20 rows

In [108]:
df_describe_new = df_describe.withColumn("summary",col("summary").cast("string"))\
                    .withColumn("Date",col("Date").cast("Date"))\
                    .withColumn("Open",format_number(col("Open").cast("float"),2))\
                    .withColumn("High",format_number(col("High").cast("float"),2))\
                    .withColumn("Low",format_number(col("Low").cast("float"),2))\
                    .withColumn("Close", format_number(col("Close").cast("float"),2))\
                    .withColumn("Volume",col("Volume").cast("int"))\
                    .withColumn("Adj Close",format_number(col("Adj Close").cast("float"),2))

In [109]:
df_describe_new.show()

+-------+----------+--------+--------+--------+--------+--------+---------+
|summary|      Date|    Open|    High|     Low|   Close|  Volume|Adj Close|
+-------+----------+--------+--------+--------+--------+--------+---------+
|  count|1258-01-01|1,258.00|1,258.00|1,258.00|1,258.00|    1258| 1,258.00|
|   mean|      null|   72.36|   72.84|   71.92|   72.39| 8222093|    67.24|
| stddev|      null|    6.77|    6.77|    6.74|    6.76| 4519780|     6.72|
|    min|2012-01-03|   56.39|   57.06|   56.30|   56.42|10010500|    50.36|
|    max|2016-12-30|   90.80|   90.97|   89.25|   90.47| 9994400|    84.91|
+-------+----------+--------+--------+--------+--------+--------+---------+

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [112]:
df_data.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [118]:
hv_ratio = df_data.select("High","Volume") #, df_data.High / df_data.Volume)

In [119]:
hv_ratio.show()

+------------------+--------+
|              High|  Volume|
+------------------+--------+
|         61.060001|12668800|
|         60.349998| 9593300|
|         59.619999|12768200|
|         59.450001| 8069400|
|         59.549999| 6679300|
|59.709998999999996| 6907300|
|         59.529999| 6365600|
|              60.0| 7236400|
|59.610001000000004| 7729300|
|60.110001000000004| 8500000|
|         60.029999| 5911400|
|             60.73| 9234600|
|             61.25|10378800|
|             60.98| 7134100|
|              62.0| 7362800|
|61.610001000000004| 5915800|
|             61.84| 7436200|
|         61.119999| 6287300|
|             61.32| 7636900|
|             61.57| 9761500|
+------------------+--------+
only showing top 20 rows

#### What day had the Peak High in Price?

In [140]:
df_data.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [141]:
df_data.agg({"High": "max"}).collect()[0]

Row(max(High)='90.970001')

In [142]:
df_data.orderBy(df_data.High.desc()).select("Date").first()

Row(Date='2015-01-13')

datetime.datetime(2015, 1, 13, 0, 0)

#### What is the mean of the Close column?

In [144]:
df_data.select(f.avg("Close")).show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

#### What is the max and min of the Volume column?

In [153]:
df_data.select(f.max(df_data.Volume),f.min("Volume")).show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|    9994400|   10010500|
+-----------+-----------+

#### How many days was the Close lower than 60 dollars?

In [155]:
df_data.select("Date").where("Close < 60").count()

81

#### What percentage of the time was the High greater than 80 dollars ?
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [191]:
df_data.select().where("High > 80").count() / df_data.count()

0.08426073131955485

In [192]:
df_data[df_data["High"]>80].count() / df_data.count()

0.08426073131955485

#### What is the Pearson correlation between High and Volume?
#### [Hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameStatFunctions.corr)

In [159]:
df_data.select(f.corr("High","Volume")).show()

+-------------------+
| corr(High, Volume)|
+-------------------+
|-0.3384326061737161|
+-------------------+

+-------------------+
| corr(High, Volume)|
+-------------------+
|-0.3384326061737161|
+-------------------+

#### What is the max High per year?

In [168]:
df_data_with_year = df_data.select("Date","High").withColumn('year', f.year("Date"))
#df_data_with_year.show()

In [177]:
df_data_with_year.groupBy("Year").agg(f.max(df_data_with_year.High)).show()

+----+---------+
|Year|max(High)|
+----+---------+
|2015|90.970001|
|2013|81.370003|
|2014|88.089996|
|2012|77.599998|
|2016|75.190002|
+----+---------+

+----+---------+
|Year|max(High)|
+----+---------+
|2015|90.970001|
|2013|81.370003|
|2014|88.089996|
|2012|77.599998|
|2016|75.190002|
+----+---------+

#### What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

In [185]:
df_data_with_month = df_data.select("Date",col("Close").cast("float")).withColumn('month', f.month("Date"))
df_data_with_month

DataFrame[Date: string, Close: float, month: int]

In [188]:
df_data_with_month.groupBy("month").avg("Close").orderBy("month").show()

+-----+-----------------+
|month|       avg(Close)|
+-----+-----------------+
|    1| 71.4480196131338|
|    2|71.30680438169499|
|    3|71.77794376266337|
|    4|72.97361900692894|
|    5|72.30971685445533|
|    6| 72.4953774506191|
|    7|74.43971944078106|
|    8| 73.0298185521906|
|    9|72.18411782208611|
|   10| 71.5785454489968|
|   11|72.11108927207418|
|   12|72.84792482628012|
+-----+-----------------+

+-----+-----------------+
|Month|       avg(Close)|
+-----+-----------------+
|    1|71.44801958415842|
|    2|  71.306804443299|
|    3|71.77794377570092|
|    4|72.97361900952382|
|    5|72.30971688679247|
|    6| 72.4953774245283|
|    7|74.43971943925233|
|    8|73.02981855454546|
|    9|72.18411785294116|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|   12|72.84792478301885|
+-----+-----------------+